body.semestre-2024-2 {background-color: #1d1d1d;}
body.semestre-2025-1 {background-color: #f00;}


body {
    color: #fff;
}

h1, h2 {
    color: #fff;
}

h1 a {
    line-height: 1;
    text-decoration: none;
    border-bottom: 0;
}

h1 a:hover {
    color: #f00;
    text-decoration: none;
}

h3 {
    font-size: 2.35rem;
}

p {
    color: #fff;
}

a {
    color: #ff0;
}

hr {
    background-color: #fff;
}

.lista-projetos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-projetos ul li a {
  font-size: 1.4rem;
  line-height: 2;
}
