/* Código para importar uma fonte do Google fonts.google.com */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ff0;
    margin: 24px 36px;
    font-family: "Space Grotesk", sans-serif;
}

h1, h2 {
    color: #000;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 10px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    color: #000;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 10px;
}

a {
    color: #f00;
    line-height: 1.5;
    font-weight: bold;
    border-bottom: 1px solid #f000;
    padding-bottom: 3px;
    text-decoration: none;
}

a:hover {
  color: #00f;
  border-bottom: 1px solid #00f;
  margin-bottom: -1px;
}

hr {
    border: none;
    max-width: 1024px;
    height: 1px;
    background-color: #000;
    margin: 25px 0;
}

.brasao {
    position: fixed; /* Fixes the position relative to the viewport */
    top: 30px; /* 50px margin from the top */
    right: 0; /* Align to the right edge of the viewport */
    z-index: -1; /* Places it behind all other elements */
    overflow: hidden; /* Hides the overflow if needed */
}

.brasao img {
    height: 1480px; /* Set the height of the image */
    width: auto; /* Maintain aspect ratio */
    position: relative; /* Allow positioning */
    right: -35%; /* Move the image 50% of its width to the right */
}
.body-start .brasao img {
    opacity: 0.07; /* Adjust the opacity as needed */
    filter: invert(0); /* Inverts the colors; set to 0 to keep original colors */
}
.body-2024-2 .brasao img {
    opacity: 0.03; /* Adjust the opacity as needed */
    filter: invert(1); /* Inverts the colors; set to 0 to keep original colors */
}
.body-2025-1 .brasao img  {
    opacity: 0.1; /* Adjust the opacity as needed */
    filter: invert(0); /* Inverts the colors; set to 0 to keep original colors */
}


/* Media query to hide the image on smaller screens */
@media (max-width: 1023px) {
    .brasao {
        display: none; /* Hides the entire brasao div */
    }
}
