body.semestre-2024-2 {background-color: #1d1d1d;}
body.semestre-2025-1 {background-color: #a00;}
body.semestre-2025-2 {background-color: #803;}

body {
    color: #fff;
}


img.back-arrow {
    position: absolute;
    left: 25px;
    top: 85px;
    width: 20px;
}

@media (max-width: 992px) {
    img.back-arrow {
        left: revert;
        right: 40px;
        top: 80px;
        width: 20px;
    }
}



/*img.back-arrow:hover {
    left: 25px;
}*/

h1, h2 {
    color: #fff;
}

h1 a {
    line-height: 1;
    text-decoration: none;
    border-bottom: 0;
}

h1 a:hover {
    color: #fff;
}

p {
    color: #fff;
}

a {
    color: #ff0;
}

hr {
    background-color: #fff5;
}

h3.ano-projetos {
font-size: 2rem;
  padding-bottom: 2rem;
}

.lista-projetos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.projetos-turma {
    font-size: 16px;    
    padding-bottom: 30px;
}

li.projetos-turma {
    margin-top: 20px;
    border-top: 1px solid #fff3;
    padding-top: 15px;
}


.lista-projetos ul li a {
  display: block;
  font-size: 24px;
  line-height: 1.15;
  padding-bottom: 20px;
}

@media (min-width: 1440px) {
    .lista-projetos ul {
        max-width: 80%;
    }
}

@media screen and (min-width: 768px) {
  .lista-projetos ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }
  
  .lista-projetos li {
    width: calc((100% - 90px) / 4); /* 3 columns with 30px gaps */
  }
  
  /* Make the course headings span the full width */
  .lista-projetos li.projetos-turma {
    width: 100%;
  }
}
