/* Código para importar uma fonte do Google fonts.google.com */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ff0;
    margin: 24px 36px;
    font-family: "Space Grotesk", sans-serif;
}

h1, h2 {
    color: #000;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 10px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    color: #000;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 10px;
}

a {
    color: #f00;
    line-height: 1.5;
    font-weight: bold;
    border-bottom: 1px solid #f000;
    padding-bottom: 3px;
    text-decoration: none;
}

a:hover {
  color: #00f;
  border-bottom: 1px solid #00f;
  margin-bottom: -1px;
}

hr {
    border: none;
    height: 1px;
    background-color: #000;
    margin: 25px 0;
}

.body-start .brasao {
    position: fixed; /* Fixes the position relative to the viewport */
    top: 50px; /* 50px margin from the top */
    right: 50px; /* 50px margin from the right */
    z-index: -1; /* Places it behind all other elements */
}

.body-start .brasao img {
    opacity: 0.2; /* Adjust the opacity as needed (0 is fully transparent, 1 is fully opaque) */
    filter: invert(0); /* Inverts the colors; set to 0 to keep original colors */
    width: auto; /* Adjust the width as needed, or set a specific value */
    height: auto; /* Adjust the height as needed, or set a specific value */
    max-width: 100%; /* Ensures the image scales responsively */
    max-height: 100%; /* Ensures the image scales responsively */
}
