body.semestre-2024-2 {background-color: #1d1d1d;}
body.semestre-2025-1 {background-color: #800;}

body {
    color: #fff;
}

h1, h2 {
    color: #fff;
}

h1 a {
    line-height: 1;
    text-decoration: none;
    border-bottom: 0;
}

h1 a:hover {
    color: #f00;
    text-decoration: none;
}

p {
    color: #fff;
}

a {
    color: #ff0;
}

hr {
    background-color: #fff;
}

h3.ano-projetos {
font-size: 2.25rem;
  padding-bottom: 1.35rem;
}

.lista-projetos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-projetos ul li a {
  font-size: 1.4rem;
  line-height: 2;
}
