@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: "Poppins", sans-serif;
	background-color: #ff4f00;
 	width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

body.home {
	background-image: url("../imagens/capasite.jpg");
	background-size: cover
}


h1 {
	color: white;
	font-size: 60px;
}


.imagens-hp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}


.imagens-hp img {
	width: 200px;
}

img {
	width: 960px;
	height: auto;
	display: block;
}

p {
	font-size: 26px;
	font-weight: bolder;
	color: white;
}

nav {
	margin-top: -20px;
	margin-bottom: 40px;
}
nav a {
	color: yellow;
	font-weight: bolder;
	text-decoration: none;
	padding: 0 10px;

}

nav a:hover {
	color: white;
}