@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=New+Rocker&display=swap');

body { 
    font-family: "New Rocker", system-ui, sans-serif; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-image: url('../imagens/ceu-escuro.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    margin: 0;
    min-height: 100vh;
}

h1 {
    font-family: "Mystery Quest", serif;
    color: #e8a1ff;
    font-size: 60px;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.tabuleiro { 
    display: grid; 
    grid-template-columns: repeat(3, 100px); 
    gap: 10px; 
    background-color: rgba(0, 0, 0, 0.3); 
    padding: 10px;
    border-radius: 10px;
}

.celula { 
    width: 100px; 
    height: 100px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 3rem; 
    cursor: pointer; 
    font-weight: bold;
    color: #ffffff;
    background: rgba(117, 208, 255, 0.7); 
    border-radius: 8px;
    transition: 0.3s;
}

.celula:hover {
    background-color: #6662B7; 
}

.vencedora {
    background-color: rgba(255, 0, 0, 0.5);
    color: #ff0000; 
    text-decoration: line-through;
}

button {
    font-family: "New Rocker", sans-serif; 
    background: #ffa500;
    border: 0;
    padding: 15px 30px;
    border-radius: 999px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #f00;
    color: white;
    transform: scale(1.1);
}

.controles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    gap: 10px; 
}

.menu-jogos {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.icone-link {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 3px solid #e8a1ff;
    transition: transform 0.3s, box-shadow 0.3s;
    object-fit: cover;
}

.icone-link:hover {
    transform: translateY(-8px);
    box-shadow: 0 5px 15px rgba(232, 161, 255, 0.4);
    border-color: white;
}