body {
    background-image: url("imagem.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-family: helvetica;
    font-size: 70px;
    color: black;
    text-align: center;
}

p {
    font-family: helvetica;
    font-size: 27px;
    color: black;
}

img {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 15px auto;
}