h1 {
	font-family: times;
	font-size: 50px;
	color: slateblue;
	margin: 40px;
}

h2 {
	font-family:times;
	font-size: 25px;
	color: white;
	margin: 40px;
}


body {
	background-color: black;
}

p{
	color: white;
	margin: 40px;
}


