p{
	font-family:times new roman;
	font-size: 70px;
	color:#edebeb;
}

h1 {
	font-family:helvetica;
	font-size: 30px;
	color: darkred;
	margin-bottom: 100px;


}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 100px;
  font-weight: 400;
  font-style: normal;
  color: lightyellow;
  background-color: darkred;

}


