body{
	background: white;
}

.nav {
  background-color: rgba(200, 200, 200, 0.5);
  text-align: center;             
  padding: 10px 40px 10px 80px;  
  font-size: 15px;
  margin-top: 20px;
  line-height: 1.6;              
}

.nav a {
  font-size: 15px; 
  text-decoration: none; 
  font-family: 'monospace;', sans-serif;
  text-align: center;
  color: black;
  padding-right: 35px;
  align-items: center;
}



h1 {
  font-family: 'monospace;', sans-serif;
  padding: 20px;
  font-size: 20px;
}



.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding: 10px 0;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
}



