
body {
  height: 60vw;
  background-image: radial-gradient(#b63a3a 30%,#f4e3b2 95%);
  background-repeat: no-repeat;

}


h1 {
  text-align: center;
  font-family:"Special Gothic Expanded One", sans-serif;
  font-size: 80px;
  color: black;
  padding-bottom: 4vw;
}


p {
  font-family: system-ui;
  color: #4c05ff;
  font-size: 30px;
  margin-left: 1vw;
}

.bio{
    font-family: system-ui;
    font-size:30px;
     color: #4c05ff;
      justify-content: center;
    display: flex;
}

.div-gif {
    justify-content: center;
    display: flex;
}

.galaxia{
    height: 25vw
}

#seta
{
  padding-top: 80px;
  padding-left: 350px;
  width: 100px;
  height: 100px;
  position: absolute;
}