body {
	background-color: #50b4a8;
	text-align: center;
}
h1 {
	font-family: sans-serif;
	font-size: 48px;
	color: #ffffff;
}
p {
	font-family: sans-serif;
	font-size: 24px
}
a {
	color: saddlebrown;
}

img {
	margin-left: auto;
	margin-right: auto;
}

img.imagem-bio {
	max-width: 300px;
}

img.imagem-home {
	max-width: 1200px;
}

.coluna {
	flex: 1;
	background: sandybrown;
	padding: 50px;