#home {
	background-color: black;
}
#gabriel {
	background-color: #ffffff;
}
#alicia {
	background-color: #fcf1ff;
}
#alan {
	background-color: #edffdc;
}
#iande {
	background-color: #ffe9dd;
}
#marina {
	background-color: #e7f7ff;
}
#clara {
	background-color: #fff3f8;
}
#samuel {
	background-color: #e9e3ee;
}
