#gabriel 
img.gabriel {
    max-height: 500px;
    margin-left: 200px;
    float: left;
    margin-right: 50px;
}

#alicia 
img.alicia {
    max-height: 500px;
    margin-left: 200px;
    float: left;
    margin-right: 50px;
}

#alan 
img.alan {
    max-height: 500px;
    margin-left: 200px;
    float: left;
    margin-right: 50px;
}

#iande 
img.iande {
    max-height: 500px;
    margin-left: 200px;
    float: left;
    margin-right: 50px;
}

#marina 
img.marina {
    max-height: 500px;
    margin-left: 200px;
    float: left;
    margin-right: 50px;
}

#clara 
img.clara {
    max-height: 500px;
    margin-left: 200px;
    float: left;
    margin-right: 50px;
}

#samuel 
img.samuel {
    max-height: 500px;
    margin-left: 200px;
    float: left;
    margin-right: 50px;
}