body{
	background-color: purple;
}
/* trab2a_meusite */
h1{
	font-family: "Smokum", serif;
  	font-weight: 400;
  	font-style: normal;
	font-size: 100px;
	color: yellowgreen;
	background-color: violet;
	margin-top: 0px;
	border-style: solid;
	border-radius: 20px;
}

h2{
	font-family: "Fascinate Inline", system-ui;
  	font-weight: 400;
  	font-style: normal;
	font-size: 100px;
	color: red;
	background-color: white;
	margin-top: -50px;
	margin-left: 0px;
	padding: 20px;
	border-style: solid;
	border-radius: 70px;
}
	/* link */
.fique_feliz{
	font-family: arial;
	font-size: 50px;
	color: skyblue;
	background-color: white;
	margin-top: -50px;
	margin-left: 0px;
	padding: 20px;
	border-style: solid;
	border-radius: 70px;
}

.fique_feliz:hover{
	background-color: #ffff00;
}

.fique_feliz:active{
	background-color: white;
}
	/* link */

/* trab2a_outrosite */

h3{
	font-family: "Moo Lah Lah", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	font-size: 70px;
	color: brown;
	margin-top: 0px;
	background-color: white;
	padding: 20px;
	border-style: solid;
	border-radius: 70px;
	border-color: black;
}

.volte:hover{
	background-color: #ffff00;
}

.volte:active{
	background-color: white;
}

.dog{
	margin-top: -30px;
	border-radius: 70px;
	margin: 20px;
}

.dog2{
	border-radius: 70px;
	margin: 20px;
}

.fala{
	padding-top: -100px;
	padding-right: 10px;
}

h4{
	font-family: "Moo Lah Lah", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	font-size: 70px;
	color: brown;
	margin-top: 30px;
	background-color: white;
	padding: 20px;
	border-style: solid;
	border-radius: 70px;
	border-color: black;
}
