body {
	background-color: whitesmoke;
}

h1{
	font-size: 25px;
	font-family: cursive;
	color: black;
}

h2{
	font-size: 25px;
	font-family: cursive;
	color: black;
}

h3{
	font-size: 25px;
	font-family: cursive;
	color: black;
}

h4{
font-size: 25px;
font-family: cursive;
color: black;
}

h5{
font-size: 20px;
font-family: cursive;
color: black;
}